.container{
    margin-bottom:100px ;
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #FF136F;
}
.buy-now{
    background-image: linear-gradient(to bottom  , #ff589b 0% , #ff136f);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1 , .cat2 , .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: whitesmoke;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;

}
#contact{
    height: 300px;
}
#contact h6{
    color: dimgrey;
}
#foot{
    text-align: center;
}